.edit-form__input {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin: 0px 9px 22px 36px;
  outline: none;
  padding-bottom: 13px;
  width: 358px;

}

.edit-form__input:required {
  border: 1px solid red;
 }

@media screen and (max-width: 574px) {
  .edit-form__input {
    margin: 28px 0px 0px 20px;
    width: 238px;
  }
}
