.element__title {
    margin: 0;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }