.profile__add-button {
  background: url(./../../../img/+.svg) no-repeat center;
  border: 2px #fff solid;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 853px) {
  .profile__add-button {
    align-self: flex-end;
    width: 44vw;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin-right: 6vw;
  }
}

@media screen and (max-width: 574px) {
  .profile__add-button {
    width: 90vw;
    margin: 0;
    align-self: center;
  }
}
