.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 350px;
}

@media screen and (max-width: 574px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 211px;
  }
}
