.img-popup__close {
  cursor: pointer;
  background: url(./../../../img/Close\ Icon.svg) no-repeat;
  width: 32px;
  height: 32px;
  background-size: cover;
  margin: 0 -37px 7px 0;
  border: none;
  align-self: flex-end;
  z-index: 100;
}


@media screen and (max-width: 574px) {
  .img-popup__close {
    margin: 0 0 16px 0;
  }
}
