.profile__pic {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 100;
  transition: 0.4s ease-in-out;
  background-position: top;
  background-repeat: no-repeat;
}

.profile__pic:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../img/edit.png);
  background-position: center;
}
