.element__trash {
  width: 18px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}
