.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  min-height: 120px;
  margin-right: 20px;
  object-fit: cover;
  align-self: center;
}

@media screen and (max-width: 574px) {
  .profile__avatar {
    margin:0 0 22px 0;
  }
}
