.edit-form__wrapper {
  max-width: 430px;
  min-height: 330px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  z-index: 10;

}

@media screen and (max-width: 574px) {
  .edit-form__wrapper {
    max-width: 282px;
    min-height: 322px;
  }
}
