.element__like {
  background: url(./../../../img/heart.svg) no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}
