.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 36px 0px 42px 36px;
}

@media screen and (max-width: 574px) {
  .popup_title {
    font-size: 18px;
    line-height: 22px;
    margin: 24px 0px 44px 22px;
  }
}
