.profile__occupation {
  max-width: 350px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 574px) {
  .profile__occupation {
    margin: 7px 0 33px 11px;
    font-size: 14px;
    line-height: 17px;
    max-width: 225px;
  }
}
